body{
    font-family: 'Montserrat', sans-serif;
    height: 570px;
    width: 400px;
    background-color: #6495ed;
    background-image: linear-gradient(53deg, #6495ed 3%, #00ced1 47%);

  }
.data_bar{
    display: flex;
}

#MONd,#MONd1,#MONd2,#MONd3,#MONd4,#MONc,#MONc1,#MONc2,#MONc3,#MONc4{
    border-radius:10px;
    padding: 3px;
    margin-top: 40px;
}

#MONa,#MONa1,#MONa2,#MONa3,#MONa4,#MONb,#MONb1,#MONb2,#MONb3,#MONb4{
    border-radius:10px;
    padding: 3px;
    margin-top: 5px;

}

.data_bar button{
    display: flex;
    justify-content: center;
    position: absolute;
    left: 39%;
    padding: 3px;
    margin: 7px 0 13px 0;
    border-radius: 5px;
}


#clock{
    height: 15px;
    padding: 5px;
    color: whitesmoke;
    border-radius: 10px;
    background: #322797a8;
    margin-bottom: 0;
}

#clock :hover{
    box-shadow: 2px 2px 2px 2px rgba(255, 255, 255, 0.637);
    transition: all .5s ease 0s;
}

.byak {
    text-decoration: none;
    margin-left: 5%;
    font-size: 40px;
    color: rgb(0, 0, 0);
    transition: all .5s ease 1s;
}
.byak :hover{
    transform: translatey(10px);
}

.sub_1 input{
    background: #00b0e0;
}
.sub_1 button{    
    background-image: linear-gradient(to right, #92fee3 0%, #00c9ff 100%);
}
.sub_1 button:hover{
box-shadow: 0px 3px #686659a2,3px 0px #686659a2, -3px 0px #686659a2, 0px -3px #686659a2;
transition: all .5s ease 0s;
}

.sub_2 input{
    background: rgba(253,185,83,1);
}
.sub_2 button{
    background-image: linear-gradient( 112.7deg,  rgba(253,185,83,1) 11.4%, rgba(255,138,0,1) 70.2% );
}
.sub_2 button:hover{
    box-shadow: 2px 2px 2px 2px rgba(104, 102, 89, 0.637);
    transition: all .5s ease 0s;
}

.sub_3 input{
    background: #feada6 ;
}
.sub_3 button{
    background-image: linear-gradient(to top, #feada6 0%, #f5efef 100%);
}
.sub_3 button:hover{
    box-shadow: 2px 2px 2px 2px rgba(104, 102, 89, 0.637);
    transition: all .5s ease 0s;
}

.sub_4 input{
    background-image: radial-gradient( circle 929px at 0.6% 1.3%,  rgba(248,251,10,1) 0%, rgba(248,47,47,1) 82.6% );}
.sub_4 button{
    background-image: radial-gradient( circle 929px at 0.6% 1.3%,  rgba(248,251,10,1) 0%, rgba(248,47,47,1) 82.6% );}
.sub_4 button:hover{
    box-shadow: 2px 2px 2px 2px rgba(185, 176, 118, 0.637);
    transition: all .5s ease 0s;
}

.sub_5 input{
    background:#21fcfc;
}
.sub_5 button{
    background-image: linear-gradient(120deg, #89f7fe 0%, #66a6ff 100%);
}
.sub_5 button:hover{
    box-shadow: 2px 2px 2px 2px rgba(104, 102, 89, 0.637);
    transition: all .5s ease 0s;
    }

/* title MONd url MONc
hr MONa min MONb

#MONd1 , #MONd2,#MONd ,#MONd3 ,#MONd4,#MONa,#MONa1,#MONa2,#MONa3,#MONa4,#MONb,#MONb1,#MONb2,#MONb3,#MONb4,
#MONc,#MONc1,#MONc2,#MONc3,#MONc4{  }

.testo{
    clip-path: polygon(100% 0, 100% 13%, 0 52%, 0 0);
}

background-color: #FBAB7E;
background-image: linear-gradient(62deg, #FBAB7E 0%, #F7CE68 100%);

    background: linear-gradient(90deg,#6495ED,#00CED1);
    background-image: linear-gradient(to top, #accbee 0%, #e7f0fd 100%)

*/

